<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientToServerHost" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://79.112.87.193:8080/ClientToServer"
                binding="basicHttpBinding" bindingConfiguration="ClientToServerHost"
                contract="ServiceReference1.IClientToServerHandle" name="ClientToServerHost" />
        </client>
    </system.serviceModel>
</configuration>